
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');



.header {
    margin-top: 10px;
}

.didi
{
    color: red;
}

.test
{
    background-image: url(../images_miiting/images_application/image_fond_appli_bis.png); background-repeat: no-repeat; height: 34em; background-position-x: center; opacity: .8;
}

